body {
	background-color: blue;
}

.navbar-brand {
	text-align: center;
	width: 100%;
}

#listContainer {
	margin: 0 auto;
	width: 70%;
	margin-top: 50px;
	background-color: white;
}

.table {
	background-color: white;
	text-align: center;
}

#tableBody {
	background-color: white;
}

#inputDiv {
	height:;
}

#formContainer {
	margin: 0 auto;
	width: 70%;
	text-align: center;
	background-color: red;
	margin-top: 50px;
}

input {
	text-align: center;
}
